@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');    /* imports the poppins font */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;                        /* all numbers Poppins with default of sans-serif*/
    font-weight: normal;                                       /* set font boldness to normal */
    margin: 0;                                                 /* zero-out margin otherwise there will be a white margin on the sides of the window. */
    padding: 0;                                                /* zero-out padding otherwise there will be a white margin on the sides of the window. */
}

body {
    background: linear-gradient(to right, rgb(147, 147, 155), rgb(155, 158, 139)); 
}

nav {
    height: 10vh;                             /* nav bar relative to the rest of the viewport (90vh)*/
    background: rgb(36, 35, 35);
}

.nav-links {
    display: flex;                              /* display elements side by side */
    list-style: none;                           /* remove default stylization (i.e. bullet points*/
    width: 40%;                                 /* make the wdith of nav-links 50% of the nav bar itself (i.e. XXXXXXXX--------*/
    height: 100%;                               /* make it 100% of the nav-links box*/
    align-items: center;                        /* position the links vertically in the center */
    justify-content: space-around;               /* space all the links so they are evenly spaced in the nav-links box */
    margin-left: auto;                          /* margin-left auto will position the links to the far RIGHT of the nav-links section*/
} 

.nav-links .link {                       /* For each link in the nav link... */
    color: white;                      /* text is white...*/
    text-decoration: none;               /* remove deafult style (i.e. underline)*/
}

.landing {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.landing > h1 {
    font-size: 2.4rem;
    color: rgb(236, 236, 236);
}

@media screen and (max-width: 768px) {         /* media query when the screen is at or BELOW 768 px...*/

    .line {                                      /* for the lines that make the hamburger icon...*/
        width: 30px;
        height: 3px;
        background: rgb(252, 252, 252);
        margin: 5px;
        border-radius: 1px
    }

    nav {
        position: relative;                     /* since we want to place our burger menu on the far right we set position to relative...*/  
    }

    .hamburger {                               /* and because the nav has a realtive position, the hamburger can be moved freely...*/
        position: absolute;                    /* outside normal document flow */
        cursor: pointer;                       /* on hover, a pointer will show */
        right: 5%;                             /* and positioned 5% from the right of the window */
        top: 50%;                              /* to center burger icon, set 50% (i.e. mid) */   
        transform: translate(-5%, -50%);       /* and transform translate with offset*/
        z-index: 1;
    }

    .nav-links {
        position: fixed;                        /* with position: fixed, element is relative to viewport and stays in the same place even on scroll*/
        background: rgb(36, 35, 35);          /* color (same as the nav bar) */
        height: 100vh;                          /* height is 100% if the viewport */
        width: 100%;                            /* width is 100% of the viewport */
        flex-direction: column;                 /* let the flex direction be stacked on top of each other*/
        pointer-events: none;                    /* fo clickability */

        clip-path: circle(100px at 90% -10%);              /* add the clip-path property with a circle that starts at the top right*/
        -webkit-clip-path: circle(100px at 90% -10%);      /* and to ensure compatibility, add a webkit*/   
        transition: all 1s ease-out;                           /* animation effect */
    }


    /* on click of the burger icon*/
    .nav-links.open {
        clip-path: circle(1200px at 90% -10%);              /* add the clip-path property with a circle that starts at the top right*/
        -webkit-clip-path: circle(1200px at 90% -10%);      /* and to ensure compatibility, add a webkit*/   
        pointer-events: all;                                /* for clickability */
    }

    /* For link animation on click*/
    .nav-links li {
        opacity: 0;
    }
    .nav-links > li > a {
        font-size: 1.4rem;
    }
    .nav-links li:nth-child(1) {                           /* if you want to animate the links in the menu to fade in, selct the first child */
        transition: all 0.5s ease 0.2s;                    /* transition all for .5 seconds with an ease with delay of 0.2 seconds*/
    }
    .nav-links li:nth-child(2) {                           /* if you want to animate the links in the menu to fade in, selct the second child */
        transition: all 0.5s ease 0.35s;
    }
    .nav-links li:nth-child(3) {                           /* if you want to animate the links in the menu to fade in, selct the third child */
        transition: all 0.5s ease 0.45s;
    }
    li.fade {
        opacity: 1;
    }

}